Source: wishsys
Section: unknown
Priority: extra
Maintainer: Ulf Lilleengen <ulf_lilleengen@yahoo.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://wishsys.dimling.net 
#Vcs-Git: git://git.debian.org/collab-maint/wishsys.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/wishsys.git;a=summary

Package: wishsys
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wishsys service
  Contains wishsys web service backend for administering wish lists.
